name: test
executors: 1
stages:
- state: 0
  name: dhcp4
  concurrent: 0
  repeat: 5
  dhcp4:
    iface: eth0
    addr:
    - 0
    - 0
    - 94
    - 0
    - 83
    - 1
- state: 0
  name: dns
  concurrent: 0
  repeat: 5
  dns:
    endpoints:
    - 127.0.0.1:53
    resourceRecords: []
- state: 0
  name: etcd
  concurrent: 0
  repeat: 5
  etcd:
    endpoints:
    - localhost:1234
    dialTimeout: 5s
    kv:
    - get:
        key: foo
- state: 0
  name: http
  concurrent: 0
  repeat: 5
  http:
    count: 0
    payload:
      url: http://localhost:8000/
      header:
        Content-type:
        - application/text
      method: GET
- state: 0
  name: http children
  children:
  - state: 0
    name: http child
    concurrent: 0
    repeat: 0
    http:
      count: 0
      payload:
        url: http://localhost:8000/
        header:
          Content-type:
          - application/text
        method: GET
  concurrent: 2
  repeat: 5
- state: 0
  name: ldap
  concurrent: 0
  repeat: 5
  ldap:
    addr: ""
    tls: false
    user: ""
    pass: ""
    search: []
- state: 0
  name: memcache
  concurrent: 0
  repeat: 5
  memcache:
    addrs:
    - 127.0.0.1:11211
    ops:
    - set:
        key: foo
        value: baz
    - get:
        key: foo
    - delete:
        key: bar
- state: 0
  name: redis
  concurrent: 0
  repeat: 10
  redis:
    network: eth1
    addr: 127.0.0.1:1234
    db: 1
    commands:
    - clientUnblockWithError: null
      get:
        key: foo
- state: 0
  name: sql
  concurrent: 0
  repeat: 5
  sql:
    mysqlDSN: user:password@/dbname
    maxConns: 0
    maxIdleConns: 0
    concurrent: false
    payloads:
    - exec: Select * from users
- state: 0
  name: ssh
  concurrent: 0
  repeat: 5
  ssh:
    addr: 127.0.0.1:22
    user: root
    keyFile: /home/foo/.ssh/id_rsa
    cmd: ls /
- state: 0
  name: udp
  concurrent: 0
  repeat: 5
  udp:
    endpoint: ""
- state: 0
  name: websocket
  concurrent: 0
  repeat: 5
  websocket:
    url: http://127.0.0.1:8888/ws
    header: {}
    ops:
    - read: true
    - read: false
      write: foo
- state: 0
  name: grpc
  concurrent: 0
  repeat: 5
  grpc:
    target: localhost:50051
    method: /proto.Service/Method
    count: 10
    insecure: true
    metadata:
      authorization: Bearer token123
- state: 0
  name: mongodb
  concurrent: 0
  repeat: 5
  mongodb:
    uri: mongodb://localhost:27017
    database: testdb
    collection: users
    operation: find
    count: 10
    filter:
      status: active
- state: 0
  name: mqtt
  concurrent: 0
  repeat: 5
  mqtt:
    broker: tcp://localhost:1883
    topic: test/topic
    qos: 1
    count: 10
    payloadString: "test message"
    cleanSession: true
- state: 0
  name: graphql
  concurrent: 0
  repeat: 5
  graphql:
    endpoint: http://localhost:4000/graphql
    query: "query { users { id name email } }"
    count: 10
    headers:
      authorization: Bearer token123
- state: 0
  name: mqtt-binary-hex
  concurrent: 0
  repeat: 3
  mqtt:
    broker: tcp://localhost:1883
    topic: test/binary
    qos: 1
    count: 5
    payloadHex: "deadbeef48656c6c6f"  # Binary payload as hex: \xde\xad\xbe\xef"Hello"
    cleanSession: true
- state: 0
  name: http-binary-payload
  concurrent: 0
  repeat: 3
  http:
    count: 5
    payload:
      url: http://localhost:8000/api/binary
      method: POST
      header:
        Content-Type:
        - application/octet-stream
      bodyHex: "89504e470d0a1a0a"  # PNG file header as hex
